force-app/main/default/flows/vehicleMaintenanceCalculateCost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Add total resource cost to job cost</description>
        <name>asgAddTotalCost</name>
        <label>asgAddTotalCost</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>vJobCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopJobResources.Total_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopJobResources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Total Cost value</description>
        <name>asgJobTotalCost</name>
        <label>asgJobTotalCost</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>getJob.Parts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vJobCost</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateVehicleMaintenance</targetReference>
        </connector>
    </assignments>
    <description>Flow that is called to update the Job cost</description>
    <environments>Default</environments>
    <interviewLabel>Vehicle Maintenance Calculate Cost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vehicle Maintenance Calculate Cost</label>
    <loops>
        <description>Loop through the Job resource records</description>
        <name>loopJobResources</name>
        <label>loopJobResources</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>getJobResources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asgAddTotalCost</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>asgJobTotalCost</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Vehicle maintenance record</description>
        <name>getJob</name>
        <label>getJob</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getJobResources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vVehicleMaintenanceRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vehicle_Maintenance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get related Job Resources</description>
        <name>getJobResources</name>
        <label>getJobResources</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopJobResources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle_Maintenance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getJob.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Job_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Vehicle maintenance cost</description>
        <name>updateVehicleMaintenance</name>
        <label>updateVehicleMaintenance</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <inputReference>getJob</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getJob</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable to update the cost</description>
        <name>vJobCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Record Id for the vehicle maintenance</description>
        <name>vVehicleMaintenanceRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
